version: '3.8'

services:
  fluidd:
    build:
      context: ./
    volumes:
      - ..:/workspaces/fluidd/:cached
    command: sleep infinity
    network_mode: service:klipper-simulavr

  klipper-simulavr:
    image: ei99070/docker-klipper-simulavr:latest
    restart: unless-stopped
