.v-card.collapsable-card .v-card__title.collapsable-card-title {
  position: relative;
  z-index: 2;
  font-size: 1rem;
  min-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    font-size: 1.125rem;
    min-height: 42px;
  }
}

.v-card.collapsable-card:not(.collapsed) .v-card__title.collapsable-card-title {
  box-shadow:
    0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
}

// Tabs in the title should be aligned to the left of the title.
.v-card.collapsable-card .v-card__title.collapsable-card-title .v-tabs {
  margin-left: -16px;

  .v-tabs-bar__content > .v-tab:first-child:before {
    border-top-left-radius: $border-radius-root;
  }
}

.theme--dark .v-card .v-card__title.collapsable-card-title {
  border-bottom: thin solid rgba(map-get($shades, 'white'), 0.10) !important;
}

.theme--light .v-card .v-card__title.collapsable-card-title {
  border-bottom: thin solid rgba(map-get($shades, 'black'), 0.10) !important;
}
