/** File system specific tweaks **/
.file-system {
  tr.row-select td {
    cursor: pointer;
    user-select: none;
  }

  // gcode thumbnails in the file list
  .file-icon-thumb {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    pointer-events: none;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
    padding-right: 12px;
    padding-left: 12px;
  }

  // .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:nth-child(-n+2),
  // .v-data-table > .v-data-table__wrapper > table > tbody > tr > th:nth-child(-n+2),
  // .v-data-table > .v-data-table__wrapper > table > thead > tr > td:nth-child(-n+2),
  // .v-data-table > .v-data-table__wrapper > table > thead > tr > th:nth-child(-n+2),
  // .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td:nth-child(-n+2),
  // .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th:nth-child(-n+2) {
  //   padding-right: 0;
  //   padding-left: 0;
  // }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:first-child,
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th:first-child,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td:first-child,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th:first-child,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td:first-child,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th:first-child {
    padding-left: 12px;
    padding-right: 0;
  }

  // Don't wrap table headers.
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    white-space: nowrap;
  }

  // Remove the border from expanded rows, so they appear combined.
  .v-data-table__expanded.v-data-table__expanded__row > td {
    border-bottom: none !important;
  }

  .v-data-table__expanded.v-data-table__expanded__content {
    box-shadow: none !important;
  }

  .theme--light.v-data-table tr > td.actions {
    div {
      background: map-deep-get($material-light, 'table', 'hover');

      &:before {
        background: linear-gradient(90deg, rgba(map-deep-get($material-light, 'table', 'hover'), 0) 0%, rgba(map-deep-get($material-light, 'table', 'hover'), 1) 100%);
      }
    }
  }

  .theme--dark.v-data-table tr > td.actions {
    div {
      background: map-deep-get($material-dark, 'table', 'hover');

      &:before {
        background: linear-gradient(90deg, rgba(map-deep-get($material-dark, 'table', 'hover'), 0) 0%, rgba(map-deep-get($material-dark, 'table', 'hover'), 1) 100%);
      }
    }
  }

  // Quick actions hover
  .v-data-table tr > td.actions {
    position: relative;
    width: 0px;
    right: 0;
    padding: 0 !important;
    display: none;
    border-bottom: none !important;
    div {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      align-items: center;
      padding: 0 12px;
      vertical-align: middle;
      height: calc(100% - 1px);
      border: none;
    }

    div:before {
      content: "";
      position: absolute;
      top: 0;
      left: -32px;
      width: 32px;
      height: inherit;
    }
  }

  .v-data-table tr:hover > td.actions {
    display: table-cell;
  }
}

.theme--light.bulk-drag {
  color: map-get($material-light, 'text-color');
  background-color: rgba(map-deep-get($material-light, 'table', 'active'), 1);
}

.theme--dark.bulk-drag {
  color: map-get($material-dark, 'text-color');
  background-color: rgba(map-deep-get($material-dark, 'table', 'active'), 1);
}

.bulk-drag {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  display: flex;
  flex: 1 1 auto;
  position: absolute;
  top: -1000px;
  right: 0;
  width: auto;
  min-width: 170px;
  height: 40px;
  align-items: center;
  padding: 0 16px 0 32px;
  border-radius: 6px;
  text-wrap: nowrap;
}
