/* Force a constrained width for our pages.. */
.container--fluid.constrained-width {
  max-width: map-get($container-max-widths, 'xl');
}

.fluidd.v-application blockquote {
  font-family: monospace, monospace
  // background-color: transparent;
  // color: #C0341D;
  // padding: 0 0.4rem;
}

// Focused text
.focus--text {
  font-size: 1.25rem !important;
  font-weight: 300 !important;
  letter-spacing: 0.0125em !important;
  line-height: auto;
}

/* Add a class to help us spin an icon if we need.. */
.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(-360deg);
  }
}

.no-pointer-events * {
  pointer-events: none !important;
}

/* Helps alignment for some outer buttons */
.v-text-field-outer-btn {
  .v-input__control {
    min-height: 36px !important;
  }
  .v-input__prepend-outer, .v-input__append-outer {
    margin-top: 0px !important;
    margin-bottom: 0 !important;
  }
}

/** For those tables where a hover doesn't make sense... */
.theme--dark.v-data-table.no-hover > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background-color: transparent;
}

/** File system specific tweaks **/
.file-system {
  td {
    cursor: pointer;
    user-select: none;
  }

  // gcode thumbnails in the file list
  .file-icon-thumb {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    vertical-align: middle;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
    padding-right: 12px;
    padding-left: 12px;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:nth-child(-n+2),
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th:nth-child(-n+2),
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td:nth-child(-n+2),
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th:nth-child(-n+2),
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td:nth-child(-n+2),
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th:nth-child(-n+2) {
    padding-right: 0;
    padding-left: 0;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:first-child,
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th:first-child,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td:first-child,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th:first-child,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td:first-child,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th:first-child {
    padding-left: 12px;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:last-child,
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th:last-child,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td:last-child,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th:last-child,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td:last-child,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th:last-child,
    .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:nth-last-child(2),
    .v-data-table > .v-data-table__wrapper > table > tbody > tr > th:nth-last-child(2),
    .v-data-table > .v-data-table__wrapper > table > thead > tr > td:nth-last-child(2),
    .v-data-table > .v-data-table__wrapper > table > thead > tr > th:nth-last-child(2),
    .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td:nth-last-child(2),
    .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th:nth-last-child(2) {
      white-space: nowrap;
  }
}