/* Import our fonts */
@import "~@fontsource/roboto/300.css";
@import "~@fontsource/roboto/400.css";
@import "~@fontsource/roboto/500.css";
@import "~@fontsource/roboto/700.css";
@import "~@fontsource/raleway/400.css";

/* Force a constrained width for our pages.. */
.container--fluid.constrained-width {
  max-width: map-get($container-max-widths, 'xl');
}

.fluidd.v-application blockquote {
  font-family: monospace, monospace
  // background-color: transparent;
  // color: #C0341D;
  // padding: 0 0.4rem;
}

// Focused text
.focus--text {
  font-size: 1.25rem !important;
  font-weight: 300 !important;
  letter-spacing: 0.0125em !important;
  line-height: auto;
}

/* Add a class to help us spin an icon if we need.. */
.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spin-alt {
  animation-name: spin-alt;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(-360deg);
  }
}

@keyframes spin-alt {
  from {
    transform: rotate(-360deg);
  } to {
    transform: rotate(0deg);
  }
}

/* force no pointer events to avoid issues with dragging */
.no-pointer-events * {
  pointer-events: none !important;
}

/* Extra dense list items */
.v-list-item--x-dense .v-list-item__content,
.v-list--x-dense .v-list-item .v-list-item__content {
  padding: 6px 0 !important;
}

.v-list-item--x-dense .v-list-item__action,
.v-list--x-dense .v-list-item .v-list-item__action {
  margin: 8px 0;
}

/* Helps alignment for some outer buttons */
.v-text-field-outer-btn {
  .v-input__control {
    min-height: 36px !important;
  }
  .v-input__prepend-outer, .v-input__append-outer {
    margin-top: 0px !important;
    margin-bottom: 0 !important;
  }
}

/* Extra dense text inputs */
.v-input--text-right input {
  text-align: right;
}

.v-input--width-x-small {
  width: 70px;
}

.v-input--width-small {
  width: 130px;
}

.v-input--width-medium {
  width: 180px;
}

.v-input--x-dense .v-input__slot {
  min-height: 25px !important;
}

.v-input--dense .v-input__slot {
  min-height: 36px !important;
}

.v-input--x-dense .v-select__selections {
  padding: 2px 0 !important;
}

.v-input--x-dense .v-input__append-inner {
  margin-top: 6px !important;
}

.v-text-field.v-text-field--solo .v-input__control{
  min-height: 10px;
}
.v-input--dense .v-text-field--box .v-input__slot, .v-text-field--outline .v-input__slot {
  min-height: 30px !important;
}

/** For those tables where a hover doesn't make sense... */
.theme--dark.v-data-table.no-hover > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background-color: transparent;
}

/** File system specific tweaks **/
.file-system {
  td {
    cursor: pointer;
    user-select: none;
  }

  ::-webkit-scrollbar {
    transition: all .5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #b3ada7;
  }


  // gcode thumbnails in the file list
  .file-icon-thumb {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    vertical-align: middle;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
    padding-right: 12px;
    padding-left: 12px;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:nth-child(-n+2),
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th:nth-child(-n+2),
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td:nth-child(-n+2),
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th:nth-child(-n+2),
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td:nth-child(-n+2),
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th:nth-child(-n+2) {
    padding-right: 0;
    padding-left: 0;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:first-child,
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th:first-child,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td:first-child,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th:first-child,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td:first-child,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th:first-child {
    padding-left: 12px;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:last-child,
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th:last-child,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td:last-child,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th:last-child,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td:last-child,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th:last-child,
    .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:nth-last-child(2),
    .v-data-table > .v-data-table__wrapper > table > tbody > tr > th:nth-last-child(2),
    .v-data-table > .v-data-table__wrapper > table > thead > tr > td:nth-last-child(2),
    .v-data-table > .v-data-table__wrapper > table > thead > tr > th:nth-last-child(2),
    .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td:nth-last-child(2),
    .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th:nth-last-child(2) {
      white-space: nowrap;
  }
}


/* Prevent zoom on mobile devices when furiosly clicking buttons */
button .v-btn {
  touch-action: manipulation;
}

button .v-icon {
  touch-action: manipulation;
}
