.fluidd.v-application blockquote {
  font-family: monospace, monospace
  // background-color: transparent;
  // color: #C0341D;
  // padding: 0 0.4rem;
}

/* force no pointer events to avoid issues with dragging */
.no-pointer-events * {
  pointer-events: none !important;
}

// Apply a common scrollbar application to all elements inside the app
.v-application--wrap,
.v-dialog__content {
  ::-webkit-scrollbar {
    transition: all .5s;
    width: 5px;
    height: 8px;
    z-index: 10;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #b3ada7;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

// Ensure the number arrows don't appear on text inputs.
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Disable double-tap zoom effects on buttons.
.v-btn {
  touch-action: manipulation;
}

.constrained-width.single {
  max-width: map-get($container-max-widths, 'xl') / 2;
}

.constrained-width.double {
  max-width: map-get($container-max-widths, 'xl');
}

.constrained-width.triple {
  max-width: map-get($container-max-widths, 'xl') / 2 * 3;
}

.constrained-width.quad {
  max-width: map-get($container-max-widths, 'xl') * 2;
}

.spool-icon {
  stroke: rgba(0,0,0, 0.25);
  stroke-width: .025rem;
}

.theme--dark .spool-icon {
  stroke: rgba(0,0,0, 0.5);
}

.v-application kbd {
  background: #4A4A4F !important;
}

textarea.clipboard-copy {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 100000;
  opacity: 0;
}

.fill-width {
    width: 100% !important;
}
