// In theory vuetify bootstraps this automagically?

// Change our grid gutters to 16px.
$grid-gutter: 16px;

// Standard height rows for our table should be..
$data-table-regular-row-height: 40px;

$dialog-card-actions-padding: 0 24px 16px;