// Change our grid gutters to 16px.
$grid-gutter: 16px;
$container-padding-x: 16px;
$container-padding-y: 16px;

$grid-gutters:
  (
    'xs': 2px,
    'sm': 3px,
    'md': 4px,
    'lg': 8px,
    'xl': 16px
  );

// Standard height rows for our table should be..
$data-table-regular-row-height: 40px;
$data-table-border-radius: none;

$dialog-card-actions-padding: 0 24px 16px;

$tooltip-background-color: rgba(10,10,10,0.90);

$material-dark: (
  'background': #1E1E20,
  'table': (
    'active':#313134, 
    'hover': #353539
  ),
  'text': (
    'theme': rgba(#ffffff, 0.87),
    'primary': rgba(#ffffff, 0.80), // standard text color (when not specifically set to primary--text)
  ),
  'icons': (
    'active': rgba(#ffffff, 0.77) // incl checkboxes
  ),
  'text-color': rgba(#ffffff, 0.87),
  'fg-color': rgba(#ffffff, 0.87)
);

$material-dark-elevation-colors: (
  '0': #1E1E20,
  '1': #262629,
  '2': #2b2b2d,
  '3': #2d2d30,
  '4': #2f2f32,
  '6': #313134,
  '8': #333337,
  '12': #353539,
  '16': #38383b,
  '24': #3a3a3e
);

$timeline-divider-width: 48px;

$expansion-panel-active-margin: 16px;
$expansion-panel-header-padding: 12px 16px;
$expansion-panel-content-padding: 0 16px 16px;
$expansion-panel-header-min-height: none;
$expansion-panel-active-header-min-height: none;