name: BUILD

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Install deps
        run: npm install

      - name: Run tests
        run: npm run test:unit

      - name: Build
        run: npm run build
